.btn-main, .btn-main-s {
  padding: 1rem 1.35rem;
  border-radius: 0.25rem;
  background-color: #0052ff;
  color: white;
  border: solid 1px #0052ff;
  font-weight: 500;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #0052ff;
}
.btn-main-s {
  font-size: 1rem;
  padding: 0.3rem 0.65rem;
}

.btn-sec, .btn-sec-s {
  padding: 1rem 1.35rem;
  border-radius: 0.25rem;
  color: #000000;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #888;
}
.btn-sec-s {
  font-size: 1rem;
  padding: 0.3rem 0.65rem;
}

.main-menu li {
  font-size: 1rem;
  list-style: none;
  display: inline;
}
.main-menu li a {
  color: black;
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  display: flex;
  margin-top: -1rem;
  font-size: 1.25rem;
  color: #0052ff;
  padding: 0.9rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3215686275);
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.benefit i {
  color: #0052ff;
  font-size: 4rem;
  text-align: center;
}
.benefit .description .title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.2rem;
}
.benefit .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}
.benefit .cta {
  margin-top: auto;
  color: #0052ff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desc i {
  padding: 0;
  color: #0052ff;
  font-size: 4rem;
}
.icon-desc .title {
  font-size: 1.5rem;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}
.nav .main-menu {
  margin: auto;
  display: flex;
  gap: 2rem;
  font-weight: 500;
}

.logo img {
  max-width: 7rem;
  margin: auto;
}

.sec-home {
  display: flex;
  max-width: 1050px;
  width: 100%;
  padding: 3rem 4rem;
  margin: auto;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .home-cta .cta-text {
  color: #0052ff;
}
.sec-home .home-cta .home-title {
  width: 22rem;
}
.sec-home .home-cta .col {
  display: flex;
  align-items: stretch;
  margin-right: -0.8rem;
}
.sec-home .home-description {
  margin-top: 1.5rem;
  width: 75%;
  font-size: 1.2rem;
}

.home-img img {
  justify-content: flex-end;
  max-width: 30rem;
}

.sec-features, .sec-onboarding .intro, .sec-benefits .intro {
  width: 100%;
  padding: 3rem 4rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1050px;
}
.sec-features .intro, .sec-onboarding .intro .intro, .sec-benefits .intro .intro {
  text-align: center;
}
.sec-features .intro h3, .sec-onboarding .intro .intro h3, .sec-benefits .intro .intro h3 {
  font-size: 2rem;
}
.sec-features .intro p, .sec-onboarding .intro .intro p, .sec-benefits .intro .intro p {
  justify-self: center;
  font-size: 1.2rem;
  color: #888;
}
.sec-features .features, .sec-onboarding .intro .features, .sec-benefits .intro .features {
  display: flex;
  gap: 1.5rem;
  margin-top: 4rem;
  align-items: center;
}
.sec-features .features .text, .sec-onboarding .intro .features .text, .sec-benefits .intro .features .text {
  margin-top: -1.2rem;
  padding: 2rem 0;
  flex: 1;
}
.sec-features .features .text .feature, .sec-onboarding .intro .features .text .feature, .sec-benefits .intro .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec-features .features .text .feature .description, .sec-onboarding .intro .features .text .feature .description, .sec-benefits .intro .features .text .feature .description {
  margin-left: 1rem;
}
.sec-features .features .text .feature .description .description-title, .sec-onboarding .intro .features .text .feature .description .description-title, .sec-benefits .intro .features .text .feature .description .description-title {
  font-size: 1.25rem;
}
.sec-features .features .text .feature .description .description-text, .sec-onboarding .intro .features .text .feature .description .description-text, .sec-benefits .intro .features .text .feature .description .description-text {
  font-size: 1rem;
}
.sec-features .features .image img, .sec-onboarding .intro .features .image img, .sec-benefits .intro .features .image img {
  max-width: 30rem;
}

.sec-benefits {
  border-top: 1px solid #eee;
}
.sec-benefits .intro {
  margin-top: 2rem;
  margin-bottom: -2rem;
}
.sec-benefits .intro h3 {
  font-size: 2rem;
}
.sec-benefits .intro p {
  justify-self: center;
  font-size: 1.2rem;
  color: #888;
}
.sec-benefits .benefit-cards {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  padding: 0 6rem;
  gap: 4rem;
  margin: auto;
}

.sec-kpis {
  margin: auto;
  margin-top: 5.5rem;
  background-color: #0052ff;
  color: white;
  padding: 4rem;
  width: 100%;
}
.sec-kpis .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-kpis .kpi .number {
  font-size: 4rem;
  font-weight: 650;
}
.sec-kpis .kpi .desc {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7803921569);
}

.sec-onboarding {
  margin-top: 2.5rem;
}
.sec-onboarding .intro h3 {
  font-size: 2rem;
}
.sec-onboarding .intro p {
  justify-self: center;
  font-size: 1.2rem;
  color: #888;
}
.sec-onboarding .steps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1rem 7rem 5rem 7rem;
}
.sec-onboarding .steps .step-separator {
  flex: 1;
  border-top: 1.5px solid #90949d;
  margin: 0 1rem;
}

.sec-footer-cta {
  margin-top: 6rem;
  background-color: #f5f8ff;
  padding: 5rem;
  background-image: url("../assets/img/footer-moon.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}
.sec-footer-cta .footer-cta {
  width: 30%;
}
.sec-footer-cta .footer-cta .cta-title {
  font-size: 1.9rem;
  font-weight: 500;
}
.sec-footer-cta .footer-cta .cta-description {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .sec-onboarding .intro {
    text-align: center;
  }
  .sec-onboarding .steps {
    flex-direction: column;
    gap: 0.6rem;
  }
  .sec-onboarding .steps .icon-desc .title {
    text-align: center;
  }
  .sec-benefits .intro {
    text-align: center;
  }
  .sec-benefits .benefit-cards {
    gap: 2.6rem;
  }
}
@media (max-width: 1050px) {
  .sec-footer-cta {
    background-image: none;
    text-align: center;
  }
  .sec-footer-cta .footer-cta {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
